.navbar{
    padding:.5rem 0;
}
.header{
    min-height: 100px;
    padding-left: 0px;
    padding-right: 0px;
}

.travel_logo{
    width: 150px;
    height: 60px;
    color: #ffffff;
}

.search_input{
    border: 1px solid #ffffff;
    width:350px;
    background-color:rgba(255, 255, 255, 0.253);
    color: #ffffff;
    margin-left: 50px;
}

.search_input::placeholder{
    color:#ffffff;
}

.search_input:focus{
    border: 1px solid #ffffff;
    background-color:rgba(255, 255, 255, 0.39);
    color:#ffffff;
}

.navForOther{
    text-decoration: none !important;
    padding: 5px 20px;
    margin: 5px;
    color:#000000;
    font-weight: 500;
}
.navForOther:hover{
    color: #F9A51A;
}
.navForHome{
    text-decoration: none !important;
    padding: 5px 20px;
    margin: 5px;
    color:#ffffff;
    font-weight: 500;
}

.navForHome:hover{
    color: #F9A51A;
}

#login_btn{
    margin-right:0px;
    background-color: #F9A51A;
    border-radius: 5px;
}

#login_btn:hover{
    color:black;
}
#name{
    width:150px;
    padding:5px;    
}