.navbar {
	padding: 0.5rem 0;
}

.travel_logo {
	width: 150px;
	height: 60px;
	color: #ffffff;
}

.navbar-toggler{
	height: 30px;
	padding: 5px 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #fff;

}
 .navbar-toggle-span{
	width: 20px;
	height: 3px;
	margin: 0 auto;
}

.navForOther {
	width: fit-content;
	text-decoration: none !important;
	padding: 5px 20px;
	margin: 5px;
	color: #000000;
	font-weight: 500;
}
.navForOther:hover {
	color: #f9a51a;
}
.navForHome {
	width: fit-content;
	text-decoration: none !important;
	padding: 5px 20px;
	margin: 5px;
	color: #ffffff;
	font-weight: 500;
}

.navForHome:hover {
	color: #f9a51a;
}

#login_btn {
	margin-right: 0px;
	background-color: #f9a51a;
	border-radius: 5px;
}

#login_btn:hover {
	color: black;
}


@media screen and (max-width:580px){
	.navbar {
		padding:0 20px;
	}
}