.login_container{
    width:550px;
    
    margin: 0 auto;
   
}
.create_account_container{
    width: 500px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ABABAB;
    border-radius: 4px;
    padding:30px 30px 10px 30px;
    margin: 10px;

}

.create_account_container h3{
    padding-bottom:10px;
}

.create_account_container input{
    width: 100%;
    text-decoration: none;
    border:none;
    border-bottom: 1px solid rgb(148, 148, 148);
    margin-bottom: 25px;
    padding-bottom: 5px;

}
.create_account_container input:focus{
border-bottom: 1px solid #F9A51A;;
}
.create_account_container input::placeholder{
    color:black;
}
.sign_up_btn{
    width: 100%;
    background-color:#F9A51A;
    padding:10px 20px !important;
    border:none;
    border-radius:5px;
    border-bottom:none!important;
}
.create_account_container .already_have_acc{
    text-align: center;
    padding-bottom: 0;
}
.create_account_container .already_have_acc span{
    color: #F9A51A;
    border-bottom: 1 solid #F9A51A;
    cursor: pointer;
}

.popupSignIn{
    width:80%;
    border: 1px solid gray;
    margin:10px auto;
    padding:7px;
    border-radius: 25px;
}

.popupSignIn img{
    width:30px;
    height:30px;
    object-fit: cover;
    object-position: center;
}
.popupSignIn button{
    width:90%;
    text-decoration: none;
    border: none;
    background-color: #ffffff;
    margin:0 auto;
}
.or{
    text-align: center;
}